body{
    padding-top:40px;
    background-color: rgb(37, 35, 35);
    
}
.main{
    margin-top:20px;
    margin-left:70px;
    text-align:center;
}
.main{
    width:200px;
    display:unset;
}
.sub{

    height:10px;
    width:10px;  
    margin:5px;  
    background-color:#d4caca;
    border-radius:10px;
    animation-name:slide;
    animation-duration: 3s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
  
}

@keyframes slide{
    0% {transform: translateX(0px);}
    50% {transform: translateX(500px);}
    100% {transform: translateX(0px);}
}
.osc1{
    animation-delay: 0.15s;
}
.osc2{
    animation-delay: 0.3s;
    background-color:#666262;
}
.osc3{
    animation-delay: 0.45s;
    background-color:#c21b1b;
}
.osc4{
    animation-delay: 0.6s;
    background-color:#8dbb20;
}
.osc5{
    animation-delay: 0.75s;
    background-color:#f85307;
}
.osc6{
    animation-delay: 0.9s;
    background-color:#0afc2b;
}
.osc7{
    animation-delay: 1.05s;
    background-color:#0e8bf1;
}
.osc8{
    animation-delay: 1.2s;
    background-color:#9910e9;
}
.osc9{
    animation-delay: 1.35s;
    background-color:#e80af0;
}
.osc10{
    animation-delay: 1.5s;
    background-color:#807676;
}
.osc11{
    animation-delay: 1.65s;
    background-color:#ff0505;
}
.osc12{
    animation-delay: 1.80s;
    background-color:#fce307;
}
.osc13{
    animation-delay: 1.95s;
    background-color:#790f44;
}
.osc14{
    animation-delay: 2.1s;
    background-color:#ff00ff;
}
.osc15{
    animation-delay: 2.25s;
    background-color:#ff6600;
}
.osc16{
    animation-delay: 2.4s;
    background-color:#06a9e9;
}
.osc17{
    animation-delay: 2.55s;
    background-color:#13ff13;
}
.osc18{
    animation-delay: 2.7s;
    background-color:#fcd705;

}
.osc19{
    animation-delay: 2.85s;
    background-color:#30aae2;
}
.osc20{
    animation-delay: 3s;
    background-color:#8871a3;
}
.osc21{
    animation-delay: 3.15s;
}
.osc22{
    animation-delay: 3.3s;
    background-color:#666262;
}
.osc23{
    animation-delay: 3.45s;
    background-color:#c21b1b;
}
.osc24{
    animation-delay: 3.6s;
    background-color:#8dbb20;
}
.osc25{
    animation-delay: 3.75s;
    background-color:#f85307;
}
.osc26{
    animation-delay: 3.9s;
    background-color:#0afc2b;
}
.osc27{
    animation-delay: 4.05s;
    background-color:#0e8bf1;
}
.osc28{
    animation-delay: 4.2s;
    background-color:#9910e9;
}
.osc29{
    animation-delay: 4.35s;
    background-color:#e80af0;
}
.osc30{
    animation-delay: 4.5s;
    background-color:#807676;
}
.osc31{
    animation-delay: 4.65s;
    background-color:#ff0505;
}
.osc32{
    animation-delay: 4.8s;
    background-color:#fce307;
}
.osc33{
    animation-delay: 4.95s;
    background-color:#790f44;
}
.osc34{
    animation-delay: 5.1s;
    background-color:#ff00ff;
}
.osc35{
    animation-delay: 5.25s;
    background-color:#ff6600;
}
.osc36{
    animation-delay: 5.4s;
    background-color:#06a9e9;
}
.osc37{
    animation-delay: 5.55s;
    background-color:#13ff13;
}
.osc38{
    animation-delay: 5.7s;
    background-color:#fcd705;

}
.osc39{
    animation-delay: 5.85s;
    background-color:#30aae2;
}
.osc40{
    animation-delay: 6s;
    background-color:#8871a3;
}

